.video-list-item{
	text-align: right;
	display: inline;
}
ul {
  list-style-type: none;
  display: block;
}
.youtube-logo{
	border-radius: 8px;
	border: 1px solid #ddd;
    padding: 5px;
    width: 100px;
    height: 50px;
    font-size: small;}

.user-input{
	width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.media-body{
	width:30%;
	text-align: right;
	display: inline;
	font-size: 10px
}
li{
	align-items: right;
	margin-left: 75%;
	border: 2px;
}
.Video-Detail{
	height:600px;
	width:500px;

}